body{
    text-align: center;
    background-color: rgb(211, 211, 198);
    margin: auto;
    max-width: 1600px;
}

header{
    background-color: #2c2c2c;
}


.logo-img{
    width: 80px;
    margin: 1% 100% 1% 1%;
}

.menu-link a:hover{
    background-color: #2c2c2c;
    color: #EFEFE9FF;
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;  
}

.menu-link a{
    background-color: #EFEFE9FF;
    text-align: center;
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    color: #2c2c2c;
}
.menu-link{
    background-color: #EFEFE9FF;
    text-align: center;
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}
  
#hero-banner{
    background-color: #EFEFE9FF;
    color: #2c2c2c;
    background-image: url('../images/landscape-sea-forest-boat-lake-view-1004355-pxhere.com.jpg');
    margin: auto;
    width: 25%;
    padding: 15%;
    text-size-adjust: 12%;
}

#hero-image{
    display: none;
}

.card img{
    width:40%;
}

.card div{
    background-color: #EFEFE9FF;
    width: 40%;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.background{
    background-color: #2c2c2c;
    max-width: 1600px;
    height: 100px;
    margin: auto;
}

.back-img{
    height: 200px;
    margin: 0% 100% 0% 0%;
}

footer{
    background-color: #2c2c2c;
    color: #EFEFE9FF;
    padding: 1%;
}

.footer-card a:hover{
    background-color: #EFEFE9FF;
    color: #2c2c2c;
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;  
}

.footer-card a{
    background-color: #2c2c2c;
    text-align: center;
    padding:1em;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
    color: #EFEFE9FF;
}


